.__separator-container {
    width: 100%;
    height: 10%;
}

.__section-1 {
    width: 100%;
    height: 50%;
}

.__section-2 {
    width: 100%;
    height: 20%;
}

.__section-3 {
    width: 100%;
    height: 20%;

    &>.__btn-create-link {
        width: 45%;
        height: 35%;
        border-radius: 2.29rem;
        -webkit-backdrop-filter: blur(0.75rem);
        backdrop-filter: blur(0.75rem);
        background-color: var(--white);
        font-size: 0.95rem;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 2.04;
        letter-spacing: 0.006rem;
        border: none;
        color: #0987f5;
        margin: auto;

        &:focus {
            outline: none;
            box-shadow: none;
        }
    }
    
}

.__section-1>div {
    margin: auto;
}

.__success-icon {
    display: block;
    margin: auto;
    width: 25%;
}

.__img-container {
    width: 100%;
    height: 50%;
}

.__section-1-title {
    display: block;
    width: 100%;
    height: 16%;
    font-size: 1.3rem;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.01rem;
    text-align: center;
    color: var(--white);
}

.__section-1-description-1, .__section-1-description-2 {
    display: block;
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.44;
    letter-spacing: normal;
    text-align: center;
    color: var(--white);
}

.__download-again {
    margin: auto;
    display: block;

    &:hover {
        cursor: pointer;
    }
}