.__section-1 {
    width: 55% !important;
    height: 50%;
    margin: auto;
}

.CircularProgressbar-text {
    fill: white !important;
    color: white !important;
    font-size: 3.2rem !important;
    dominant-baseline: middle;
    text-anchor: middle;

    &>.__percent-symbol {
        font-size: 2.2rem !important;
        letter-spacing: -0.01rem;
        vertical-align: text-top;
    }
}

.CircularProgressbar-text::last-letter {
    font-size: 3% !important;
}

.CircularProgressbar-path {
    stroke: #75d0ff !important;
}

.CircularProgressbar-trail {
    stroke: none !important;
}

.__section-2 {
    width: 100%;
    height: 30%;

    &>.__section-2-title {
        display: block;
        font-size: 1.25rem;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: -0.008rem;
        text-align: center;
        color: var(--white);
        height: 20%;
    }

    &>.__section-2-description {
        display: block;
        font-size: 0.8rem;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.4;
        letter-spacing: normal;
        text-align: center;
        color: var(--white);
    }
}

.__section-3 {
    width: 100%;
    height: 20%;
}

.__btn-cancel-link {
    width: 45%;
    height: 40%;
    border-radius: 2.2rem;
    -webkit-backdrop-filter: blur(0.8rem);
    backdrop-filter: blur(0.8rem);
    background-color: var(--white);
    font-size: 0.85rem;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.04;
    letter-spacing: 0.01rem;
    border: none;
    color: #0987f5;
    margin: auto;

    &:focus {
        outline: none;
        box-shadow: none;
    }
}