/* LAPTOP VIEWS */
/* @media (min-width: 1025px) and (max-width: 1280px) { */
    .__dialog {
        width: 100% !important;
        height: auto !important;
        padding: 6px;
        box-shadow: 0 3px 17px 0 rgba(0, 0, 0, 0.16) !important;
        background-color: var(--white) !important;
        margin-top: 6px !important;
        border: none !important;
    }

    .__dialog-text {
        width: auto;
        height: auto;
        font-size: 12px !important;
        font-weight: 500 !important;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.71 !important;
        letter-spacing: 0.12px !important;
        text-align: center !important;
        color: #595959 !important;
    }

    .__signup {
        width: auto !important;
        height: auto !important;
        border-radius: 40px !important;
        -webkit-backdrop-filter: blur(12.2px) !important;
        backdrop-filter: blur(12.2px) !important;
        background-color: #f5fbff !important;

        &:hover {
            border: none;
        }

        &:focus {
            outline: none !important;
            box-shadow: none !important;
        }
    }

    .__signup-text {
        font-size: 13px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 0.09px;
        color: #035087;
    }

    .__body-signup-avatar {
        width: auto;
        height: auto;
        margin-right: 6px;
    }

    .popover .arrow {
        display: none !important;
    }
/* } */

@media (min-width: 1281px) {
    .__dialog {
        width: 100% !important;
        height: auto !important;
        padding: 5px;
        box-shadow: 0 3px 17px 0 rgba(0, 0, 0, 0.16) !important;
        background-color: var(--white) !important;
        margin-top: 6px !important;
        border: none !important;
    }

    .__dialog-text {
        width: auto;
        height: auto;
        font-size: 12px !important;
        font-weight: 500 !important;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.71 !important;
        letter-spacing: 0.12px !important;
        text-align: center !important;
        color: #595959 !important;
    }

    .__signup {
        width: 260px !important;
        height: 25% !important;
        border-radius: 40px !important;
        -webkit-backdrop-filter: blur(12.2px) !important;
        backdrop-filter: blur(12.2px) !important;
        background-color: #f5fbff !important;

        &:hover {
            outline: none !important;
            box-shadow: none !important;
        }

        &:focus {
            color: none;
            box-shadow: none !important;
        }
    }

    .__signup-text {
        font-size: 15px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 0.09px;
        color: #035087;
    }

    .__body-signup-avatar {
        width: auto;
        height: auto;
        margin-right: 6px;
    }

    .popover .arrow {
        display: none !important;
    }
}